<%-include("partials/header") %>

<main class="color">
    <div class="container">
        <h2><%= post.titulo %></h2>
        <hr>
        <div class="card-img-top rounded d-flex border border-2 m-2 mb-3">
            <img class="card-img-top" src="<%= post.url_imagen %>" alt="Imagen blog">
            <div class="card-body px-3 m-2">
                <h3><%= post.titulo %></h3>
                <p class="card-text"><%= post.detalle %></p>
                <p><%= post.fecha_publicacion %></p>
            </div>
            <button id="btn-delete">Eliminar publicación</button>
        </div>
    </div>
</main>
</div>

<%-include("partials/footer") %>