<%-include("partials/header") %>

<main>
    <div class="container">
        <h2>Publicaciones recientes</h2>
        <hr>
        <section>
            <div class="row">
                <div class="col">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Titulo</th>
                                <th>Detalle</th>
                                <th>Fecha</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% posts.forEach(function(post) { %>
                                <tr>
                                    <td><%= post.id %></td>
                                    <td><%= post.titulo %></td>
                                    <td><%= post.detalle %></td>
                                    <td><%= post.fecha_publicacion %></td>
                                    <td><a href="posts/update/<%= post.id %>" class="btn-update">Modificar publicación</a></td>
                                    <td><a class="btn btn-delete" data-post-id="<%= post.id %>">Eliminar publicación</a></a>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    <a href="posts/create" class="btn btn-black">Crear nueva publicación</a>
                </div>
            </div>
        </section>
        <section>
            <button type="button" class="btn btn-black" id="btn-get">Ver todas las publicaciones</button>
            <div class="div-posts" id="div-posts"></div>
        </section>
    </div>
</main>

<%-include("partials/footer") %>