<%-include("partials/header") %>

<main>
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <h1 class="mt-3 color-5">Últimas publicaciónes</h1>
            <form class="form-inline d-flex g-2" action="/posts" method="GET">
                <input class="form-control mr-sm-2 mx-2" type="search" name="query" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-black my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
        <hr>
        <section>
            <div class="row gap-3">
                <% posts.forEach(function(post) { %>
                    <div class="col">
                        <div class="card-box card-img-top d-flex border border-2 m-2 mb-3">
                            <img class="card-img-top" src="<%= post.url_imagen %>" alt="Imagen blog">
                            <div class="card-body pt-1 pb-1 d-flex flex-column justify-content-between px-3 m-2">
                                <h3><%= post.titulo %></h3>
                                <p>Autor: <strong><%= post.autor %></strong></p>
                                <p class="card-text"><%= post.detalle %></p>
                                <p>Fecha: <%= post.fecha_publicacion %></p>
                                <a href="posts/detail/<%= post.id %>" class="btn btn-black">Ver más</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
                <div class="d-flex gap-3 mb-2">
                    <a href="posts/create" class="btn btn-black">Crear nueva publicación</a>
                    <button type="button" class="btn btn-black" id="btn-get">Ver todas las publicaciones</button>
                </div>
                <hr>
            </div>
        </section>
    </div>
</main>
</div>
<section class="container-fluid fondo-posts section-posts color-b-5">
    <div class="container div-posts">
        <div class="row gap-3" id="div-posts"></div>
    </div>
</section>
<%-include("partials/footer") %>