<!-- <%-include("partials/header") %>

<main class="color">
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-stripped">
                    <thead>
                        <tr>
                            <th>username</th>
                            <th>name</th>
                            <th>lastname</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(function(user) { %>
                            <tr>
                                <td><%= user.username %></td>
                                <td><%= user.name %></td>
                                <td><%= user.lastname %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
    
<%-include("partials/footer") %> -->